<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="duckhunt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="duckhunt.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <duckhunt.Properties.Settings>
            <setting name="ScreenWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="AmountOfUnits" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EasyDuckHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EasyDuckWidth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="EasyDuckvX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EasyDuckvY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MediumDuckHeight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MediumDuckWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MediumDuckvX" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MediumDuckvY" serializeAs="String">
                <value>2</value>
            </setting>
        </duckhunt.Properties.Settings>
        <duckhunt.Settings>
            <setting name="ScreenWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </duckhunt.Settings>
    </applicationSettings>
</configuration>